.u-section-1 .u-sheet-1 {
  min-height: 984px;
}

.u-section-1 .u-gallery-1 {
  height: 745px;
  grid-gap: 17px 17px;
  margin-top: 23px;
  margin-bottom: 60px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 41px;
}

.u-section-1 .u-over-slide-1 {
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  padding: 20px;
}

.u-section-1 .u-over-slide-5 {
  padding: 20px;
}

.u-section-1 .u-over-slide-6 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-1 .u-gallery-1 {
    height: 614px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1297px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1058px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3413px;
  }

  .u-section-1 .u-gallery-1 {
    height: 3174px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2237px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1998px;
  }
}